body {
  background-color: #FFFFFF;
}

.wrapper {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 00px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

.formIcon {
  width: 100%;
  max-width: 330px;
  padding-top: 0px;
}

.title {
  padding: 40px;
}

.formSignin {
  width: 100%;
  max-width: 850px;
  padding: 75px;
  margin-top: 30px;
}

.formSignin .formControl {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.formButton {
  max-width: 175px;
  margin: auto;
  color: #000000;
  background-color: #FFFFFF;
}

.addressFiled {
  width: 100%;
  margin-bottom: 20px;
}
