body {
  background-color: #FFFFFF;
  max-height: 500px;
  overflow-y: auto;
}

.active {
  opacity: 1;
}

.disabled {
  opacity: 0;

  -webkit-transition:.5s;
  transition:.5s;
}

.wrapper {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 00px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

.logoWrapper {
  max-width: 330px;
  max-height: 330px;
  padding-top: 0px;
  position: relative;
  top: 0;
  left: 0;
}

.logoShadow {
  position: relative;
  top: 0;
  left: 0;

  -webkit-filter: opacity(1) drop-shadow(0 0 0 #3023AE);
  filter: opacity(1) drop-shadow(0 0 0 #3023AE);

  -webkit-transition: -webkit-filter 0.5s linear;
  transition: filter 0.5s linear;
}

.logoShadowHide {
  position: relative;
  top: 0;
  left: 0;

  -webkit-filter: opacity(0) drop-shadow(0 0 0 #3023AE);
  filter: opacity(0) drop-shadow(0 0 0 #3023AE);

  -webkit-transition: -webkit-filter 1s linear;
  transition: filter 1s linear;
}

.logo {
  position: absolute;
  top: -1px;
  left: 0;
  padding: 43px;
}

.title {
  padding: 40px;
  width: 550px;
}

.textBox {
  width: 100%;
  max-width: 850px;
  padding: 75px;
  margin-top: 30px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.button {
  composes: baseButton from '../../../../assets/styles/base.css';
  margin: auto;
  width: 176px;
  height: 52px;
}

.addressFiled {
  width: 100%;
  margin-bottom: 20px;
}
